<h2>Your Current Deliverables</h2>

<div class="new-link"><%= link_to "Add a New Deliverable", new_deliverable_path %></div>


<% @projects.each do |project| %>
  <fieldset class="deliverables">
    <legend><%= project.name %></legend>
    <table>
      <% project.deliverables.each do |deliverable| %>
        <tr>
          <td><%= link_to deliverable.name, deliverable_path(deliverable) %></td>
          <td><%= button_to "Edit", edit_deliverable_path(deliverable) %></td>
          <td><%= button_to "Delete", deliverable_path(deliverable), method: "delete" %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
<% end %>

