<h2><%= @client.name %>'s Information</h2>

<div class="client-info">
  <%= @client.name %><br>
  <%= @client.company_name %><br>
  <%= @client.email_address %>
</div>

<div class="client-projects">
  <fieldset>
    <legend><%= @client.name %>'s Projects'</legend>
    <ul>
      <% @client.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
  </fieldset>
</div>

