<h2>Edit <%= @project.name %> Information</h2>

<fieldset>
	<%= form_for @project do |f| %>
		Name: <%= f.text_field :name %><br>
		Description: <%= f.text_field :description %><br>
		<%= f.submit "Save Project" %>
	<% end %>
</fieldset>
