<h2>Add a New Project</h2>

<fieldset>
	<%= form_for @project do |f| %>
    <p>Which client is this project for?</p>
    <%= f.select(:client_id, Client.all.map{|c| [c.name, c.id]}, prompt: "select a client") %><br>
		Name: <%= f.text_field :name %><br>
		Description: <%= f.text_area :description %><br>
		<%= f.submit "Save Project" %>
	<% end %>
</fieldset>
