<h2><%= @project.name %>'s Information</h2>

<div class="project-info">
  <%= @project.name %><br>
  <%= @project.description %><br>
</div>

<div class="project-deliverables">
  <fieldset>
    <legend><%= @project.name %>'s deliverables</legend>
    <ul>
      <% @project.deliverables.each do |deliverable| %>
        <li><%= link_to deliverable.name, deliverable_path(deliverable) %></li>
      <% end %>
    </ul>
  </fieldset>
</div>

